<html>
    <head>
        <style>
        body {
        font-family:'Arial';
        font-size:10pt;
        }
        </style>
    </head>
    <body>
        <p>
            Hello,
        </p>
        <p>
            Thanks for subscribing to the ReportName report.
        </p>
        <p>
            ReportMessage
        </p>
        <p>
            Contact me if there is an issue or you would like to unsubscribe.
            <br>
            Have a happy Today,
        </p>
        
        <p style="margin-bottom:10.0pt">
            <b>
            <span style="font-size:10.0pt;font-family:'Arial',sans-serif;color:black;">Christopher Pickering</span>
            </b>
            <br>
            <span style="font-size:10.0pt;font-family:'Arial',sans-serif;color:#6A6A69">Sr. Production Planner/Supervisor
                <br>
                Bimba
            </span>
        </p>
        <p>
            <span style="font-size:10.0pt;font-family:'Arial',sans-serif;color:#6A6A69">Tel: &#43;708 235 4881</span><br>
            <span style="font-size:10.0pt;font-family:'Arial',sans-serif;color:#6A6A69">Email: <a href="mailto:christopher.pickering@imi-precision.com">christopher.pickering@imi-precision.com</a></span><br>
            <span style="font-size:10.0pt;font-family:'Arial',sans-serif;color:#6A6A69">www.bimba.com</span>
        </p>
        <p>
            <span style="font-size:11.0pt"><img width="580" height="70" style="width:6.0416in;height:.7291in" src="cid:image1" alt="Bimba email signature email"></span>
        </p>
        
    </body>
</html>